*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --fundo-principal:#0f172a;
    --fundo-do-cartao:#1e293b;
    --cor-texto-claro:#f8fafc;
    --cor-texto-mutado:#94a3b8;
    --cor-destaque:#38bdf8;
    --cor-da-borda:#334155;

}

body{
    background-color: var(--fundo-principal);
    color: var(--cor-texto-claro);
    font-family: 'urbanist', sans-serif;
    line-height: 1.6;
    padding: 2rem 1rem;
}

header h1{
    font-size: clamp(1.8rem, 5vw, 3.5rem);
    color: var(--cor-destaque);
    text-align: center;
    margin-bottom: 0.5rem;
}

header p{
    font-size: clamp(1rem, 2.5vw, 1.4rem);
    color: var(--cor-texto-mutado);
    text-align: center;
    margin-bottom: 3rem;
}

.grade-dos-cartoes{
    display: grid;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.cartao-informativo{
    background-color: var(--fundo-do-cartao);
    border: 1px solid var(--cor-da-borda);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease, border-color 0,2s ease;
}

.cartao-informativo:hover{
    transform: translateY(-5px);
    border-color: var(--cor-destaque);
}

.recipiente-da-imagem{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.recipiente-da-imagem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo-do-cartao{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex-grow: 1;
}

.botao{
    background-color: transparent;
    border:2px solid var(--cor-destaque);
    color: var(--cor-destaque);
    cursor: pointer;
    font-family: 'Urbanist';
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    margin-top: auto;
    padding: 0.8rem 1.5rem;
    display: block;
    transition: background 0.2s ease, color 0.2s ease;
}

.botao:hover{
    background-color: var(--cor-destaque);
    color: var(--fundo-principal);
}

footer{
    margin: 4rem auto 0 auto;
    padding-top: 2rem;
    border-top: 1px solid var(--cor-da-borda);
    text-align: center;
    color: var(--cor-texto-mutado);
}

@media(min-width:600px){
    .grade-dos-cartoes{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(min-width:992px){
     .grade-dos-cartoes{
        grid-template-columns: repeat(3,1fr);
    }
}